:root {
    --red: #a82525;
    --red-dark: #7e1c1c;
    --light-gray: #ccc;
    --font-standard: 400;
    --font-bold: 600;
body {
    padding-top: 65px;
}

}

    font-weight: 600;
}


.button {
}

.button:hover {
    cursor: pointer;
}

}

