:root {
    --red: #a82525;
    --red-dark: #7e1c1c;
    --light-gray: #ccc;
    --font-standard: 400;
    --font-bold: 600;
body {
    padding-top: 65px;
}

}

    font-weight: 600;
}


.button {
}

.button:hover {
    cursor: pointer;
.modal span {
    margin-top: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: var(--font-bold);
}

.modal img {
height: auto;                                       
}

.modal p {
    margin-bottom: 0;
    font-size: 14px;
}


/* @media all and (max-width: 500px){

}

@media all and (min-width: 500px) and (max-width: 750px){

}

@media all and (min-width: 750px) {

} */