/* :root {
    --red: #a82525;
    --red-dark: #7e1c1c;
    --light-gray: #ccc;
    --font-standard: 400;
    --font-bold: 600;
}*/

body {
    padding-top: 65px;
}

main {
    background-color: #ccc;
}

#pokemon-container {
    background-color: #000;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 600;
}


.button {
    color: #fff;
    background-color: #7e1c1c;
}

.button:hover {
    cursor: pointer;
    background-color: #7e1c1c;
    opacity: 80%;
}

.type-element {
    text-transform: capitalize;
}

