body {
    padding-top: 70px;
}

main {
    background-color: #ccc;
}

#pokemon-container {
    background-color: #000;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 600;
}

.button {
    color: #fff;
    background-color: #7e1c1c;
}

.button:hover {
    cursor: pointer;
    background-color: #7e1c1c;
    opacity: 80%;
}

.type-element {
    text-transform: capitalize;
}

footer {
    background-color: #7e1c1c;
    color: #fff;
    text-align: center;
    justify-content: center;
}